@import '../common.module.scss';

.qsyun_website_bim{
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;

  :global {


    .qsyun_website_bim_content{
      width: 100vw;
      background-color: #fff;
      padding: 48px 0;

    }
  }
}
